.btn{
    padding: 14px 55px;
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 15px;
    background: $gradient;
    color: $white;
    text-align: center;
    border-radius: 6px;

    &:hover{
        background: $pink;
    }
}