.card-depositions{
    max-width: 384px;
    img{
        width: 56px;
        height: auto;
    }
    p{
        margin: 18px 0 10px 0;
    }
    @media (max-width: 576px){
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }
}

details{
    width: 800px;
    height: auto;
    padding: 25px 45px;
    background-color: #18171C;
    border-radius: 8px;
    cursor: pointer;
    &:not(:first-child){
        margin-top: 25px;
    }

    summary{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    p{
        margin-top: 10px;
    }
}
details[open]{
    img{
        transform: rotate(180deg);
        transition: transform 0.3s;
    }
}