header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 1;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            display: flex;
            flex-direction: row;
            align-items: center;

            ul{
                display: flex;
                flex-direction: row;

                li{
                    margin-right: 40px;

                    a{
                        font-family: 'Inter';
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: $white;

                        &:hover{
                            color: $primary;
                        }
                    }
                }
            }
            .btn{
                font-family: 'Exo 2';
                font-weight: 700;
                font-size: 14px;
                padding: 12px 25px;
            }
            .btn-mobile{
                display: none;
                color: $white;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
    @media(max-width: 991px){
        .container{
            nav{
                ul, button{
                    display: none;
                }
                .btn-mobile{
                    display: block;
                }
            }
        }
    }
}

.menu-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
    aside{
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: $black;
        padding: 30px;
        transform: translateX(-100%);
        transition: transform .3s;
        .logo{
            max-width: 150px;
            margin-bottom: 40px;
        }
        ul{
            padding: 20px 0;
            li{
                a{
                    padding: 10px 0;
                    display: block;
                    font-size: 16px;
                    color: $white;
                }
            }
        }
    }
}
.menu-opened{
    .menu-mobile{
        opacity: 1;
        pointer-events: all;
        aside{
            transform: translateX(0%);
        }
    }
}