.hero{
    background: url('../img/banner.svg');
    height: 700px;
    .container{
        .text{
            padding-top: 230px;

            .title{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 14px;
                color: $pink;
                
                img{
                    margin-right: 8px;
                }
            }
            h1{
                max-width: 502px;
                margin-bottom: 8px;

                span{
                    font-family: 'Exo 2';
                    color: $pink;
                }
            }
            p{
                max-width: 474px;
                color: $white;
                margin-bottom: 18px;
            }
        }
    }
}

.portfolio{
    .container{
        .top{
            padding-top: 55px;
            display: flex;
            justify-content: space-between;

            h2{
                max-width: 393px;
            }
            .text-left{
                max-width: 384px;
                margin-right: 208px;
            }
        }
        .gallery{
            margin-top: 48px;
        }
    }
}

.process{
    .container{
        border-top: 1px solid #454545;
        .top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 60px;

            h2{
                max-width: 416px;
            }
            p{
                max-width: 394px;
                margin-right: 300px;
            }
        }
        .bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 35px 0 130px 0;
            .items{
                .item{
                    display: flex;
                    flex-direction: row;
                    max-width: 350px;
                    &:not(:first-child){
                        margin-top: 30px;
                    }
                    .icon{
                        width: 50px;
                        min-width: 50px;
                        height: 50px;
                        background-color: #1E112D;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        margin-right: 25px;
                        &.active{
                            background-color: $pink;
                        }
                    }
                }
            }
            .image{
                border-radius: 10px;
            }
        }
    }
}