.hero{
    background: url('../img/banner.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    .container{
        .text{
            padding-top: 230px;

            .title{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 14px;
                color: $primary;
                
                img{
                    margin-right: 8px;
                }
            }
            h1{
                max-width: 668px;
                margin-bottom: 8px;

                span{
                    font-family: Raleway;
                    color: $gray;
                }
            }
            p{
                max-width: 474px;
                margin-bottom: 18px;
            }
        }
    }
    @media(max-width: 991px){
        height: auto;
        background-size: cover;
        width: 100%;
        padding-bottom: 200px;
    }
    @media(max-width: 576px){
        .container{
            text-align: center;
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    max-width: 100%;
                }
                p{
                    max-width: 100%;
                }
            }
        }
    }
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background: linear-gradient(61deg, #B882FA 0%, #7C68FC 100%);
    transform: rotate(-2.32deg);

    span{
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        letter-spacing: 4px;
        font-size: 18px;
        color: $white;
        margin: 0 45px 0 45px;
    }
    img{
        width: 22px;
        height: auto;
    }
}

.portfolio{
    .container{
        .top{
            padding-top: 100px;
            margin-top: 48px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 30px;

            h2{
                max-width: 393px;
                span{
                    color: $gray;
                }
            }
            .text-left{
                max-width: 384px;
            }
        }
        .gallery{
            margin-top: 48px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 30px;
            
            .card{
                position: relative;
                margin-bottom: 30px;
                overflow: hidden;
                border-radius: 15px;

                .image{
                    border-radius: 15px;
                    width: 100%;
                    height: auto;
                    transition: transform 0.3s ease;

                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .bottom{
            padding: 10px 0 70px 0;
            text-align: center;
        }
    }
    @media (max-width: 1170px){
        .container{
            .gallery{
                .card{
                    .info{
                        top: 340px;
                        left: 60px;
                    }
                }
            }
        }
    }
    @media (max-width: 1100px){
        .container{
            .gallery{
                .card{
                    .info{
                        top: 310px;
                        left: 50px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .container{
            .gallery{
                margin-top: 48px;
                display: grid;
                grid-template-columns: 100%;
                .card{
                    .info{
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 576px){
        .container{
            .top{
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .top{
                padding-top: 55px;
                display: flex;
                flex-direction: column;
    
                h2{
                    max-width: 100%;
                }
                .text-left{
                    max-width: 100%;
                    margin-right: 0px;
                }
            }
            .gallery{
                margin-top: 48px;
                display: grid;
                grid-template-columns: 100%;
                .card{
                    .info{
                        display: none;
                    }
                }
            }
        }
    }
}

.process{
    .container{
        border-top: 1px solid #454545;
        .top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 60px;

            h2{
                max-width: 458px;
                span{
                    color: $primary;
                }
            }
            p{
                max-width: 394px;
                margin-right: 300px;
            }
        }
        .bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 35px 0 130px 0;
            .items{
                .item{
                    display: flex;
                    flex-direction: row;
                    max-width: 350px;
                    &:not(:first-child){
                        margin-top: 30px;
                    }
                    .icon{
                        width: 50px;
                        min-width: 50px;
                        height: 50px;
                        background-color: #1E112D;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 25px;
                        img{
                            height: 18px;
                            width: auto;
                        }
                        &.active{
                            background-color: $primary;
                        }
                    }
                }
            }
            .image{
                img{
                    width: 696px;
                    height: 403px;
                    border-radius: 10px;
                }
            }
        }
    }
    @media (max-width: 1250px){
        .container{
            .top{
                p{
                    margin-right: 30px;
                }
            }
            .bottom{
                .items{
                    .item{
                        min-width: 350px;
                    }
                }
            }
        }
    }
    @media (max-width: 1100px){
        .container{
            .bottom{
                display: flex;
                align-items: center;
                .image{
                    margin-left: 30px;
                }
            }
        }
    }
    @media (max-width: 991px){
        .container{
            .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h2, p{
                    max-width: 100%;
                }
                p{
                    margin: 0;
                }
            }
            .bottom{
                .items{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    .item{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: 100%;
                        margin-top: 20px;
                        .icon{
                            margin-right: 0px;
                        }
                    }
                }
                .image{
                    display: none;
                }
            }
        }
    }
    @media (max-width: 576px){
        .container{
            .top{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            .bottom{
                .items{
                    display: grid;
                    grid-template-columns: 100%;
                    .item{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: 100%;
                        margin-top: 20px;
                        .icon{
                            margin: 0 0 20px 0;
                        }
                    }
                }
                .image{
                    display: none;
                }
            }
        }
    }
}

.performance{
    height: 535px;
    width: 100%;
    background: url('../img/background-performance.jpg') center center no-repeat;
    display: flex;
    align-items: center;
    .container{
        display: flex;
        justify-content: end;
        .text{
            margin-right: 130px;
            h2{
                max-width: 457px;
                margin-bottom: 8px;
                span{
                    font-family: 'Raleway', sans-serif;
                    font-size: 35px;
                    line-height: 120%;
                    color: $primary;
                }
            }
            p{
                max-width: 475px;
                margin-bottom: 18px;
            }
        }
    }
    @media(max-width: 1200px){
        .container{
            .text{
                margin-right: 30px;
            }
        }
    }
    @media(max-width: 991px){
        .container{
            .text{
                margin: 0;
                text-align: center;
                h2, p{
                    max-width: 100%;
                }
            }
        }
    }
}

.forWho{
    .container{
        .top{
            display: flex;
            justify-content: center;
            padding: 80px 0 40px 0;
            h2{
                max-width: 338px;
                text-align: center;
                span{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 120%;
                    color: $gray;
                }
            }
        }
        .bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 80px;
            
            .card{
                width: 385px;
                height: 273px;
                background-color: #18171C;
                border-radius: 10px;
                padding: 30px 35px;
                border: 1px solid $black;
                transition: 0.3s;

                &:hover{
                    border: 1px solid #333333;
                }
                 .icon{
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    background-color: $primary;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                 }
                 h4{
                    margin-bottom: 8px;
                 }
            }
        }
    }
    @media (max-width: 1210px){
        .container{
            .bottom{
                flex-wrap: wrap;
                display: flex;
                align-items: center;

                .item01, .item02{
                    width: 48%;
                }
                .item01{
                    margin-right: 30px;
                }
                .item03{
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
    }
    @media (max-width: 780px){
        .container{
            .bottom{
                .item01, .item02, .item03{
                    width: 100%;
                    margin: 30px 0 0 0;
                }
                
            }
        }
    }
    @media (max-width: 576px){
        .container{
            .bottom{
                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    height: auto;
                }
                
            }
        }
    }
}

.customers{
    padding: 50px 0 80px 0;
    height: 280px;
    width: 100%;
    background: #18171C;

    .container{
        .top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 70px;

            h5{
                margin-bottom: 20px;
            }
            .arrows{
                display: flex;
                flex-direction: row;

                .swiper-button-next, .swiper-button-prev{
                    position: static;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 34px;
                    height: 34px;
                    background: $primary;
                    border-radius: 2px;
                    &:not(:first-child){
                        margin-left: 13px;
                    }
                }
                .swiper-button-next::after, .swiper-button-prev::after{
                    content: none;
                }
                
            }
        }
        .slide-customers{
            overflow: hidden;
            .swiper-wrapper{
                .swiper-slide{
                    display: flex;
                    justify-content: center;

                    img{
                        width: 130px;
                        height: auto;

                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.depositions{
    .container{
        .top{
            padding-top: 70px;
            text-align: center;
            h3{
                color: $white;
            }
        }
        .slide-depositions{
            padding: 50px 0 100px 0;
            overflow: hidden;

            .swiper-pagination{
                position: static;
                margin-top: 40px;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    background: $primary;
                }
                .swiper-pagination-bullet-active {
                    width: 20px;
                    height: 10px;
                    border-radius: 10px;
                    background: $primary;
                }
            }
        }
    }
}

.profile{
    height: 453px;
    width: 100%;
    margin-top: 40px;
    background: linear-gradient(180deg, #18171C 0%, #09090B 100%);
    .container{
        display: flex;
        flex-direction: row;
        .image{
            margin-top: -40px;
            width: 446px;
            height: 496px;
            img{
                border-radius: 8px 8px 0px 0px;
            }
        }
        .content{
            margin: 55px 0 0 75px;
            .name{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 8px;
                h2{
                    margin-right: 10px;
                }
            }
            .office{
                color: $primary;
                font-family: 'Inter';
                font-weight: 700;
                font-size: 17px;
                margin-bottom: 8px;
            }
            .description{
                max-width: 510px;
                color: $gray;
                span{
                    font-family: 'Inter';
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 180%;
                }
            }
            .social{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 15px;
                line-height: 118%;
                color: $gray;
                margin-top: 20px;
                span{
                    font-family: 'Exo 2';
                    font-weight: 700;
                    color: $white;
                }
            }
            .icons{
                margin-top: 25px;
                a{
                    color: $white;
                    font-size: 20px;
                    &:hover{
                        color: $primary;
                    }
                    &:not(:first-child){
                        margin-left: 25px;
                    }
                }          
            }
        }
    }
    @media(max-width: 1050px){
        height: auto;
        text-align: center;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .content{
                margin: 20px 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                .description{
                    margin-top: 10px;
                }
            }
        }
    }
}

.faq{
    padding: 95px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .container{
        .text{
            text-align: center;
            span{
                font-family: Raleway;
                font-weight: 500;
                font-size: 35px;
                color: $primary;
            }
        }
        .content{
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    @media (max-width: 991px){
        .container{
            .content{
                details{
                    width: 100%;
                }
            }
        }
    }
}

.contact{
    height: 592px;
    width: 100%;
    background: url('../img/background-contact.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .items{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .item{
                display: flex;
                flex-direction: row;
                align-items: center;
                background: #18181A;
                border: 1px solid $primary;
                border-radius: 30px;
                padding: 6px 18px;
                p{
                    color: $primary;
                }
                img{
                    margin-right: 8px;
                }
                &:not(:first-child){
                    margin-left: 15px;
                }
            }
        }
        h2{
            margin-top: 22px;
            max-width: 523px;
            color: $white;
            text-align: center;
            font-family: Raleway;
            font-size: 45px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 2.7px;
        }
        .btn{
            margin-top: 20px;
            background: $white;
            color: $primary;
            transition-duration: 0.5s;

            &:hover{
                background: $primary;
                color: $white;
                transition-duration: 0.3s;
            }
        }
    }
}