h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: $white;
}
h1{
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 2.4px;
}
h2{
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 2.1px;
}
h3{
    font-size: 26px;
    line-height: 135%;
    letter-spacing: 1.56px;
}
h4{
    font-size: 22px;
    line-height: 135%;
    letter-spacing: 1.32px;
}
h5{
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 1.08px;
}
h6{
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.96px;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 200%;
    color: $gray;
}
.title{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    color: $white;
}